<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="shortcut icon" href="/img/tabbar.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<!-- <link rel="stylesheet" href="/css/profile.css"> -->
<link rel="stylesheet" href="/css/search.css">

</head>
<body>
    <div id="m">
        <div class="l">
            <img src="/img/white-logo.png" alt="">
            <div class="route">
                
                <div class="home dds ">
                    
                    <a href="/home"> <h4><i class="ri-home-line"></i> Home</h4></a>
                </div>
                <div class="Search dds current">
                    
                    <a href="/search"><h4><i class="ri-search-line"></i> Search</h4></a>
                </div>
                <div class="Explore dds">
                    
                    <h4><i class="ri-compass-3-line"></i> Explore</h4>
                </div>
            

                    <div class="Create dds "> 
                        <a href="/post"> <h4><i class="ri-add-circle-line"></i> Create</h4></a>
                    </div>
                
                <div class="Profile dds ">
                    
                    <a href="/profile">

                        <h4><i class="ri-map-pin-user-fill"></i> Profile</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="r">
            <div class="ss">
                <input type="text" placeholder="Search The User" class=" input search">
            </div>
            <div class="users-accounts users">
                
            </div>
        </div>
</div>



<script>
    var inp = document.querySelector(".input")

    inp.addEventListener("input", function (e) {
        if (inp.value !== '') {
            fetch(`/search/${inp.value}`)
                .then(raw => raw.json())
                .then(result => {
                    let clutter = "";

                    result.forEach((item) => {
                        clutter += `<a href="/profile/${item.username}" class="outline-none">
                 <div class="user-page">
                    <div class="left">
                        <img src="/img/upload/${item.profilepic}" alt="">
                    </div>
                    <div class="right">
                        <h2>${item.username}</h2>

                    </div>
                </div>
    </a>`
                    })

                    document.querySelector(".users")
                        .innerHTML = clutter;
                });
        }
    })
</script>

</body>
</html>