*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}

.page1{
    width: 100%;
    height: 100vh;
    /* background-color: salmon; */
    display: flex;
        align-items: center;
        justify-content: center;
    .l{
        width: 50%;
        height: 100%;
        /* background-color: lightblue; */
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 1rem 3rem;
        .t{
            width: 100%;
            height: 10%;
            /* background-color: saddlebrown; */
            img{
                height: 100px;
            }
        }
        .b{
            width: 100%;
            height: 80%;
            /* background-color: darkblue; */
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            gap: 2rem;
            flex-wrap: wrap;
            img{
                height: 300px;
                border-radius: 20px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            }
            .p1{
                width: 200px;
                height: 250px;
                object-fit: cover;
                position: absolute;
                left: 20px;
                top: 20px;
            }
            .p2{
                width: 350px;
                height: 150px;
                object-fit: cover;
                position: absolute;
                right: 50px;
                top: 20px;
            }
            .p3{
                width: 400px;
                height: 250px;
                object-fit: cover;
                position: absolute;
                left: 20px;
                bottom: 0;
            }
            .p4{
                width: 200px;
                height: 300px;
                object-fit: cover;
                position: absolute;
                right: 40px;
                bottom: 50px;
            }
            
        }
        /* .d{
            width: 100%;
            height: 40%;
            background-color: sandybrown;
            img{
                height: 300px;
            }
        } */
    }
    .r{
        width: 50%;
        height: 100%;
        /* background-color: lightgreen; */
        display: flex;
            align-items: center;
            justify-content: center;
        .box{
            width: 500px;
            height: 500px;
            display: flex;
            align-items: start;
            justify-content: center;
            padding: 0rem 3rem;
            flex-direction: column;
            background-color: rgb(222, 221, 221);
            border-radius: 15px;
            h1{
                text-align: start;
            }
            .in{
                width: 100%;
                height: 50px;
                margin-top: 15px;
                border: none;
                outline: none;
                border-radius: 10px;
                padding: 1rem;
                background-color: rgb(255, 255, 255);
            }
            .in::placeholder{
                padding: 1rem;
            }
            .forgot{
                margin-top: 8px;
                color: #434343;
            }
            .login-btn{
                width: 100%;
                height: 50px;
                background-color: slateblue;
                font-size: 1.5rem;
                border: none;
                outline: none;
                border-radius: 10px;
                margin-top: 15px;
                color: white;
            }
            .b{
                margin-top: 15px;
            }
        }
    }
}